<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.sirolf2009.trading.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="Trading"
            class="com.sirolf2009.trading.SerenityPreferences"
            id="com.sirolf2009.trading.SerenityPreferences"
            name="Serenity Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="Trading"
            class="com.sirolf2009.trading.parts.IndicatorAskSum"
            icon="icons/Sample.png"
            id="com.sirolf2009.trading.parts.IndicatorAskSum"
            name="Ask Volume"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="Trading"
            class="com.sirolf2009.trading.parts.IndicatorBidSum"
            icon="icons/Sample.png"
            id="com.sirolf2009.trading.parts.IndicatorBidSum"
            name="Bid Volume"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="Trading"
            class="com.sirolf2009.trading.parts.IndicatorSpread"
            icon="icons/Sample.png"
            id="com.sirolf2009.trading.parts.IndicatorSpread"
            name="Spread"
            restorable="true">
      </view>
   </extension>

</plugin>
